<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/dashboard">
        <img src="assets/layout/images/e-banking.svg" alt="logo">
        <span>E-Banking</span>
    </a>
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-dropdown
            [options]="themes"
            optionLabel="name"
            [(ngModel)]="selectedMode"
            (onChange)="toggleMode()"

            [showClear]="false"
            placeholder="Select a mode">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" >
                    <i [class]="selectedMode.icon"></i>
                    <div>{{selectedMode.name}}</div>
                </div>
            </ng-template>
            <ng-template let-theme pTemplate="item">
                <div class="flex align-items-center gap-2" >
                    <i [class]="theme.icon"></i>
                    <div>{{ theme.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <button pButton label="Logout" class="p-button-outlined p-button-danger ml-2" icon="pi pi-sign-out" (click)="logout()">
        </button>
    </div>
</div>
