<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Bank accounts operations history</h5>
            <p-table
                #dt1
                [value]="operations"
                dataKey="id"
                [rows]="10"
                [rowsPerPageOptions]="[10, 20, 50, 100]"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="['id','date','amount','type', 'description']"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                <i class="pi pi-list"></i>
                                <div>
                                    <p-sortIcon class="mr-2" field="id" />
                                    ID
                                </div>
                                <p-columnFilter type="text" field="id" display="menu" placeholder="Search by id"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="amount" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                <i class="pi pi-wallet"></i>
                                <p-sortIcon field="amount" />
                                Amount
                                <p-columnFilter type="numeric" field="amount" display="menu" currency="MAD"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="date" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                <i class="pi pi-calendar"></i>
                                <p-sortIcon field="date" />
                                Date
                                <p-columnFilter type="date" field="date" display="menu" placeholder="dd/MM/yyyy"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="type" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                <i class="pi pi-check"></i>
                                <p-sortIcon field="type" />
                                Type
                                <p-columnFilter field="type" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="types" (onChange)="filter($event.value)" placeholder="Operations types" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="option.label == 'CREDIT' ? 'customer-badge status-qualified': 'customer-badge status-unqualified'">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="description" style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                <i class="pi pi-info-circle"></i>
                                <p-sortIcon field="description" />
                                Description
                                <p-columnFilter type="text" field="description" display="menu" placeholder="Search by description"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operation>
                    <tr>
                        <td class="text-center">
                            {{operation.id}}
                        </td>
                        <td class="text-center">
                            {{operation.amount | currency:'DH ':'symbol'}}
                        </td>
                        <td class="text-center">
                            {{operation.date | date: 'dd/MM/yyyy'}}
                        </td>
                        <td class="text-center">
                            <span class="customer-badge p-1" [class]="operation.type == 'CREDIT' ? 'status-qualified': 'status-unqualified'">
                                {{operation.type}}
                            </span>
                        </td>
                        <td class="text-center">
                            <span class="customer-badge status-proposal">{{operation.description}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No accounts found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr *ngFor="let i of environment.skeletonLength">
                        <td><p-skeleton/></td>
                        <td><p-skeleton/></td>
                        <td><p-skeleton/></td>
                        <td><p-skeleton/></td>
                        <td><p-skeleton/></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>
